<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заселення/виселення гостей</title>

    <link rel="stylesheet" href="/css/myStyles.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="#">Заселення/виселення гостей</a>
    <a href="/admin/main">Головна</a>
</div>
<div class="main-container">
    <h3>Заселити гостей</h3>
    <form action="#" th:action="@{/admin/checkInProcessing}" th:object="${guestsForm}"
          method="post">
        <fieldset>
            <button type="submit">Заселити гостей</button>
            <button type="reset">Скинути</button>
            <table>
                <thead>
                <tr>
                    <th>Прізвище</th>
                    <th>Ім'я</th>
                    <th>По батькові</th>
                    <th>№ паспорту</th>
                    <th>Прибув(ла) з міста</th>
                    <th>Дата заселення</th>
                    <th>Дата виселення</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="guest, itemStat : *{guestDtoList}">
                    <td><input type="text" th:field="*{guestDtoList[__${itemStat.index}__].lastName}" /></td>
                    <td><input type="text" th:field="*{guestDtoList[__${itemStat.index}__].firstName}" /></td>
                    <td><input type="text" th:field="*{guestDtoList[__${itemStat.index}__].middleName}" /></td>
                    <td><input type="text" th:field="*{guestDtoList[__${itemStat.index}__].passportNumber}" /></td>
                    <td><input type="text" th:field="*{guestDtoList[__${itemStat.index}__].arrivedFromCity}" /></td>
                    <td><input type="date" th:field="*{guestDtoList[__${itemStat.index}__].checkInDate}" /></td>
                    <td><input type="date" th:field="*{guestDtoList[__${itemStat.index}__].checkOutDate}" /></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>

    <h3>Виселити гостей</h3>
    <form action="#" th:action="@{/admin/checkOutProcessing}" method="get">
        <fieldset>
            <p>№ кімнати<input type="number" name="room_number" min="101" max="399"></p>
            <p><button type="submit">Виселети гостей з цього номеру</button></p>
        </fieldset>
    </form>
</div>
</body>
</html>