<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Інформація про гостей</title>

    <link rel="stylesheet" href="/css/myStyles.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="#">Пошук інформації про гостей</a>
    <a href="/admin/main">Головна</a>
</div>
<div class="main-container">
    <h3>Пошук гостей за містом</h3>
    <form action="#"  th:action="@{/admin/guestsInfoByCity}" th:method="get">
        <p>Назва міста: <input type="text" name="city"/></p>
        <p><button type="submit">Пошук</button></p>
    </form>

    <h3>Пошук гостей за номером кімнати</h3>
    <form action="#"  th:action="@{/admin/guestsInfoByRoom}" th:method="get">
        <p>Номер кімнати: <input type="number" name="room_number" min="101" max="399"/></p>
        <p><button type="submit">Пошук</button></p>
    </form>
</div>
</body>
</html>